.header {
  height: 80px;

  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: red;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(250, 0, 0);

}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 150px;
}

.link-test {
  position: relative;
  top: -60px;
}

.hamburger-menu {
  height: 24px;
  position: relative;
  cursor: pointer;
}

#hamburger {
  z-index: 100;
}

.menu {
  position: relative;
  /* transform: translateY(100%); */
  /* transition: transform 0.2s; */
  opacity: 0;
  transition: opacity 0.07s;
  top: -70px;
  /* top: 0px; */
  left: 0;
  /* right: 0; */
  /* bottom: 0; */
  z-index: 99;
  /* list-style: none; */
}

.showMenu {
  /* transform: translateY(0); */
  opacity: 1;
}

.hide-hamburger {
  opacity: 0;
}

.close-icon {
  display: none;
}

.hamburger-menu .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  bottom: -28px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.hamburger-menu:hover .tooltip {
  opacity: 1;
}

.site-award-image {
  height: 50px;
  /* margin-left: 20px; */
  margin-left: -10px;
  margin-right: 10px;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
}

.page-header {
  font-size: 40px;
  font-weight: bold;
  margin-left: 200px;
}